<!-- /328/dating/views/home.html
Jada Senebouttarath
https://github.com/iamjada/dating
-->
<include href="views/header.html"></include>
<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">My Dating</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container rounded border mt-4">
    <div class="row column_row">
        <div class="col">
            <h2 class="text-center pt-5">Welcome to My Dating</h2>
            <p>Dating during a pandemic may be difficult. Try our dating
                website and have dates online. Romantic dates over the internet can be fun!
                At My Dating, you'll be matched with others who share similar interests. Be yourself and find love!</p>

    <!-- stories/quotes-->
    <h3 class="text-center pt-4 pb-2">Hear successful stories from users.</h3>
    <div class="container border-top border-bottom pt-3 pb-1">
        <blockquote>
            <p>"I met the love of my life online!"
            <i>- Joe Schmo</i>
            </p>
            <p>"I no longer feel alone during these trying times."
                <i>- Anonymous User</i></p>

            <p>"It was easy to create a profile and meet others online"
            <i>- Nev Schulman</i></p>
        </blockquote>
        <!--
        <p class="font-italic">"I met the love of my life online!" -Joe Schmo</p>
        <p class="font-italic">"I no longer feel alone during these trying times." -Anonymous User</p>
        <p class="font-italic">"It was easy to create a profile and meet others online" -Nev Schulman</p>
        -->
    </div>

    <!-- button -->
    <div class="text-center pt-4">
        <a class="btn btn-primary rounded" href="profile1">Create a Profile!</a>
    </div>
</div>

<!--image -->
<div class="col-6">
    <img class="rounded date_img" src="images/dating.jpeg" alt="pic of date">
</div>
</div>
<!-- image
<div class="row">
    <div class="col-6" id="right">
        <img class="rounded pull-right float-right" src="images/dating.jpeg" alt="pic of date">
    </div>
</div>
-->
</div> <!-- end of col -->
</div> <!-- end of row -->
</div> <!-- end of container -->
</body>
</html>