<!-- 328/dating/views/personal-info.html  -->

<!--header-->
<include href="views/header.html"></include>
<!-- Personal Information -->
<body>
<!-- nav -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://iamjada1.greenriverdev.com/328/dating/">My Dating</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="container rounded border mt-4">
    <!-- form -->
    <form action="#" method="post" class="form-horizontal">
        <div class="row column_row mb-0">
            <h1 class="mt-4">Personal Information</h1>
        </div>

        <div class="row column_row border-top pt-4">
            <div class="col-7">
                <!-- first name -->
                <div class="form-group">
                    <label class="h6" for="fName">First Name</label>
                    <input type="text" class="form-control" name="fName" value="{{ @userFName }}" id="fName"
                           placeholder="First name">
                </div>
                <!-- display an error message if there is one -->
                <check if="{{ isset(@errors['fName']) }}">
                    <span class="err">{{ @errors['fName'] }}</span>
                </check>

                <!-- last name -->
                <div class="form-group">
                    <label class="h6" for="lName">Last Name</label>
                    <input type="text" class="form-control" name="lName" value="{{ @userLName }}" id="lName"
                           placeholder="Last name">
                </div>
                <check if="{{ isset(@errors['lName']) }}">
                    <span class="err">{{ @errors['lName'] }}</span>
                </check>

                <!-- age -->
                <div class="form-group">
                    <label class="h6" for="age">Age</label>
                    <input type="text" class="form-control" name="age" value="{{ @userAge}}" id="age"
                           placeholder="Age 18+">
                </div>
                <check if="{{ isset(@errors['age']) }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check>
                <!-- gender radio button -->
                <h6>Gender</h6>
                <repeat group="{{ @gender }}" value="{{ @gender }}">
                    <label><input type="radio" name="gender"
                                  id="{{ @gender }}" value="{{ @gender }}">
                        <check if="{{ @gender == @userGender }}">
                            checked="checked"
                        </check>
                        {{ ucfirst(@gender) }}
                    </label>
                </repeat>
                <!--
                <input type="radio" class="form-check-input" name="gender" id="gender" value="{{ @userGender }}">
                <label class="form-check-label" for="gender">Male</label>
            </div>

            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" name="gender" id="gender" value="{{ @userGender }}">
                <label class="form-check-label" for="gender">Female</label>
            </div>
                -->
                <!-- phone number -->
                <div class="form-group mt-3">
                    <label class="h6" for="phone">Phone Number</label>
                    <input type="text" class="form-control" id="phone" value="{{ @userPhone }}"
                           placeholder="Format: 111-111-1111">
                </div>
                <check if="{{ isset(@errors['phone']) }}">
                    <span class="err">{{ @errors['phone'] }}</span>
                </check>

            </div>
            <!-- note -->
            <div class="col-5 mt-4">
                <div class="container border rounded pt-2 pb-2" id="bg_personal">
                    <p class="m-2 text-center"><strong>Note:</strong> All information entered is protected by our <a
                            href="#">private policy</a>. Profile Information can only be viewed
                        by others with your permission</p>
                </div>
            </div>
            <!-- premium membership -->

            <div class="form-group">
                <h6>Premium Membership</h6>
                <div class="form-check form-group">
                    <input class="form-check-input" type="checkbox" value="" id="premium">
                    <label class="form-check-label" for="premium">
                        Sign me up for a Premium Account!
                    </label>
                </div>
                <repeat group="{{ @premium }}" value="{{ @premium }}">
                    <label><input type="checkbox" name="premium"
                                  id="{{ @premium }}" value="{{ @premium }}">
                        <check if="{{ @premium == @userPremium }}">
                            checked="checked"
                        </check>
                        {{ ucfirst(@premium) }}
                    </label>
                </repeat>
            </div>
        </div>
        <br>
        <!-- submit -->
        <div class="row column_row d-flex justify-content-end">
            <input type="submit" class="form-control btn btn-primary rounded" id="btn" value="Next >">
        </div>
    </form>
</div> <!-- end of container -->

</body>
</html>