/* error */
.err {
    color: darkred;
    padding-left: 1em;
}

/* Left Div */
.left{
    padding-left: 10px;
    padding-right: 30px;
    margin: 0.625em 1.25em 1.875em;

}

/* Right Div */
.right{
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 30px;

}